<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Vue</title>
        <script src="minivue.js"></script>
    </head>
    <body>
        <div id="app">
            <input type="text" v-bind:value="username" @input="doChange($event)" />
            
            <span v-if="username && (username.length < 5)">your username is too short</span>
            <span v-if="username.length > 8">your username is too long</span>
            <br>
            <span v-if='username'>Your username is: {{username}}</span>
            <label v-if="!username">Please type in a username</label>
            
        </div>
        <script>
            var app = new MiniVue({
                el: "#app",
                data: {
                    username: "",
                    visible: true,
                },
                methods: {
                    doChange(e) {
                        this.username = e.target.value;
                    },
                },
                mounted() {
                    console.log("hello!");
                },
            });
        </script>
    </body>
</html>
